/* - **The first element**: a black background and white text
- **The second element**: a yellow background
- **Both elements**: a font size of 28px and a list of fonts containing `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback

## Desired Outcome

![desired outcome](./desired-outcome.png)

### Self Check

- Does each element have a unique class name?
- Did you use the grouping selector for styles that both elements share?
- Did you make separate rules for the styles unique to each element? */

/* Add CSS Styling */

button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.left {
    background-color: black;
    color: white;
}

.right {
    background-color: yellow;
}